@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

.title_div {
  padding: 0;
  margin: 0;
  width: 95%;
  text-align: center;
  font-weight: 600;
  padding-top: 30vh;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 14vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.doneby {
  font-family: "Fredoka", sans-serif;
  right: 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
}

.list {
  display: flex;
  flex-direction: row;
}

.img_label {
  width: 34vw;
  height: 36vw;
  max-width: 182.92px;
  max-height: 193.44px;
  margin-left: -22vw;
  margin-top: -4.5vw;
  margin-bottom: -7.7vw;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.list_span {
  margin-left: 5vw;
  align-self: center;
  font-weight: 600;
  font-size: medium;
  width: 76%;
  max-width: 76%;
}

.underlined {
  text-decoration: underline;
}
.responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.centertext {
  text-align: center;
}
.textwhite {
  color: white;
}
.bluebg {
  background-color: #003cff;
}
.S {
  height: 100vh;
  width: 100%;
}
.marg0 {
  margin: 0;
}
.pad0 {
  padding: 0;
}

.parallax {
  background-image: url("../../Images/nightbg.jpg");
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130% auto;
  background-size: cover;

  animation: animatedBackground 30s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@media only screen and (min-width: 885px) {
  .responsive {
    flex-direction: row;
  }
}

@media only screen and (min-width: 530px) {
  .img_label {
    margin-left: -116.6px;
    margin-top: -23.85px;
    margin-bottom: -40.81px;
  }
}
@media only screen and (min-width: 570px) {
  .list_span {
    font-size: x-large;
  }
}
@media only screen and (max-width: 570px) {
  .list_span {
    font-weight: 400;
  }
}
