.responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centertext {
  text-align: center;
}
.textwhite {
  color: white;
}
.bluebg {
  background-color: blue;
}
.S {
  height: 100vh;
  width: 100vw;
}
.marg0 {
  margin: 0;
}
.pad0 {
  padding: 0;
}

@media only screen and (min-width: 885px) {
  .responsive {
    flex-direction: row;
  }
}
