@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

.img_blueRobot {
  width: 34vw;
  height: 36vw;
  max-width: 182.92px;
  max-height: 193.44px;
  margin-right: -10vw;
  margin-left: 2vw;
  -webkit-animation: blueRobot 1s infinite alternate;
  animation: blueRobot 1s infinite alternate;
}

@keyframes blueRobot {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  100% {
    transform: translateY(-30px);
    transform: translateX(-30px);
  }
}

.div_end {
  display: flex;
  justify-content: flex-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.rotate {
  overflow: hidden;
}

.rotate_span {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: rotate_word 3s infinite;
}

@keyframes rotate_word {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }

  50% {
    transform: translateY(0%);
  }

  0% {
    transform: translateY(100%);
  }
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-weight: 600;
}
.img_wtft {
  width: 110px;
}

.FredokaFont {
  font-family: "Fredoka", sans-serif;
}

.img_yt {
  padding: 2px;
  width: 50px;
}

.td_table {
  width: 417px;
}

.borderwhite {
  border: 1px solid white;
}

.mD {
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}

.bc_img {
  margin-right: 4vw;
  width: 40vw;
  height: 25vw;
  border-radius: 8px;
  box-shadow: 9px 10px 9px 5px #0009;
  transform: rotate3d(1, 1, 1, 15deg);
}

.ul_list {
  font-size: large;
  font-weight: 600;
}

.margtopdiv {
  padding-top: 20px;
}

@media only screen and (max-width: 570px) {
  .mD {
    flex-direction: column;
    text-align: center;
  }
  .bc_img {
    margin-top: 14vw;
    width: 60vw;
    height: 30vw;
    align-self: center;
  }
  .ul_list {
    font-size: small;
  }
}
